body {
    background-color: rgb(253, 255, 255);
}

.texto1 {
    text-align: center;
}

.disponible {
    background-color: #28a745 !important; /* Verde */
    color: white;
    font-weight: bold;
}

.nodisponible {
    background-color: #dc3545 !important; /* Rojo */
    color: white;
    font-weight: bold;
}

.hoy {
    border: 3px solid blue !important; /* Azul para el día actual */
    font-weight: bold;
}
footer{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
